/*-------------
    GENERAL
-------------*/

html,
body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
}


/*-------------
    HEADER
-------------*/

#header {
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    height: 3.25rem;
    line-height: 3.25rem;
    position: fixed;
    padding-left: 5rem;
    padding-right: 5rem;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    padding: 0 1.25rem;
    text-decoration: none;
}


/*-------------
    BANNER
-------------*/

#banner {
    background-color: #111111;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(255, 255, 255, 0.5);
    min-height: 40rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#banner img {
    display: inline;
    margin-left: auto;
    border-radius: 0.75%;
    margin-right: 0.1rem;
}


/*-------------
    BUZZING
-------------*/

#buzzing {
    background-color: #111111;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    overflow: auto;
}

#banner img {
    display: inline;
    margin-left: auto;
    border-radius: 2%;
    margin-right: 0.1rem;
}

.container {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}


/*-------------
    BLOCK 1
-------------*/

.one {
    width: 66%;
    height: 200px;
    background: black;
    float: left;
}


/*-------------
    BLOCK 2
-------------*/

.two {
    margin-left: 66%;
    height: 200px;
    background: black;
}


/*-------------
    FEATURED
-------------*/

#featured {
    background-color: #111111;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    overflow: auto;
}


/*-------------
    NEW DROPS
-------------*/

#newdrops {
    background-color: #111111;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    overflow: auto;
}


/*-----------------
    THE TREASURY
-----------------*/

#treasury {
    background-color: #111111;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    overflow: auto;
}